@use '../../base/' as *;

.primary.menu {

  a {
    color: var(--black);;

    &:visited {
      color: var(--black);;
    }

    &:focus {
      color: var(--primary);
    }

    &:hover {
      color: var(--primary);
    }
  }
}