
// Base styles for any button type.
%button {
  display: inline-flex;
  vertical-align: middle;
  padding: ($global-padding * 0.75) ($global-padding * 1.5);
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
