@use '../settings' as *;

.gform_wrapper {
  background: $gf-bg; // background for the form
  border: $gf-border-width solid $gf-border-color; // outer form border
  padding: $gf-padding; // form padding
  font-family: $gf-regular-font;

  // input fields
  .ginput_container {

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      padding: $gf-input-padding;
      width: 100%;
      line-height: 1.15;
    }

    select {
      width: 100%;
    }
  }

  // Standard fields
  input[type='text'],
  input[type='url'],
  input[type='email'],
  input[type='tel'],
  input[type='number'],
  input[type='password'],
  input[type='file'],
  textarea {
    background: $gf-input-background-color;
    border: solid $gf-input-border-width $gf-input-border-color;
    border-radius: $gf-input-border-radius;
    transition: 0.3s;

    &:focus {
      border: solid $gf-input-border-width $gf-input-border-color-focus;
      box-shadow: 0 0 0 1px $gf-input-border-color-focus;
      outline: none;
    }
  }

  textarea {
    width: 100%;
  }

  // // Remove icon for default multi-select
  // select[multiple='multiple'] {
  //   background: $gf-input-background-color;
  // }
}
