@use '../settings' as *;

.gform_wrapper .gfield .chosen-container-single {
  font-size: rem(16);

  // Link holding initial selection - what user first sees
  .chosen-single {
    background: $gf-input-background-color;
    border-color: $gf-input-border-color;
    border-radius: 0;
    height: auto;
    padding: $gf-input-padding;
  } // .chosen-single

  // Default state of icon for select
  .chosen-single div b {
    background: none; // hide the default chosen background

    // adjust size and color for active icon
    &:before {
      border-color: $black transparent transparent;
      border-style: solid;
      border-width: 12px (12px / 2) 0;
      content: '';
      height: 0;
      width: 0;
    } // &::before
  } // .chosen-single div b

  // Selections drop-down
  .chosen-drop {

    // Search box by default has a small magnifying icon on right
    .chosen-search input[type='text'] {
      background: none;
    } // .chosen-search input[type="text"]

    // Search results list
    .chosen-results li {
      padding: rem(10) rem(5);
    } // .chosen-results li
  } // .chosen-drop

  // For styling the icon when select is active
  &.chosen-container-single.chosen-with-drop {

    .chosen-single {
      background-image: none;
    } // .chosen-single

    .chosen-single div b {
      border: 0; // hiding the previous triangle (border)

      // adjust size and color for active icon
      &:before {
        border-color: transparent transparent $black;
        border-style: solid;
        border-width: 0 (12px / 2) 12px;
        content: '';
        height: 0;
        width: 0;
      }
    }
  }
}
