@use '../settings' as *;

.gform_wrapper {

  .gform_body {

    // Labels
    .gfield_label {
      font-family: $gf-bold-font;
      color: $gf-label-font-color;
      font-size: $gf-label-font-size;
    }
  }
}
