@use '../settings' as *;

.gform_wrapper {

  .gform_body {

    // Remove margin for select fields inside complex containers
    .gform_fields {

      .gfield {

        .ginput_container {

          .ginput_right,
          .ginput_left {
            vertical-align: bottom;

            select {
              text-indent: 0;
              line-height: 1.15;
              margin: 0;
            }
          }
        }
      }
    }

    .ginput_container {
      position: relative;

      select {
        appearance: none;
        position: relative;
        display: block;
        margin: 0;
        padding: $gf-input-padding; // need to override GF's "browser" stylesheet
        width: 100%;
        border: solid $gf-input-border-width $gf-input-border-color;
        background-size: 14px;
        line-height: 1.15;
        border-radius: $gf-input-border-radius;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjEuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMi41IDYuMyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIuNSA2LjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMzMzMzMzO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxMi41LDAgNi4yLDYuMiAwLDAgIi8+Cjwvc3ZnPgo=');
        background-repeat: no-repeat;
        background-position: right 13px center;

        &:focus {
          border: solid $gf-input-border-width $gf-input-border-color-focus;
          box-shadow: 0 0 0 1px $gf-input-border-color-focus;
          outline: none;
        }
      }
    }
  }
}
