@use '../settings' as *;


.gform_wrapper.gform_validation_error {

  div.gform_validation_errors {
    background-color: var(--error-lt);
    border: solid 2px var(--error-dk);
    border-radius: $gf-input-border-radius;
    box-shadow: none;

    .gform_submission_error {
      font-family: $gf-bold-font;
      color: var(--error-dk);
    }
  }

  .gform_body {

    // Remove default background
    .gfield.gfield_error,
    .gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 0;
    }

    .gfield_error {

      // Remove default error label color
      .gfield_label {
        color: inherit;

        span {
          color: var(--error-dk);
        }
      }

      // Validation message color
      .validation_message {
        background: transparent;
        padding: 0;
        border: none;
        margin-top: calc(var(--margin) * 0.5);
        color: var(--error-dk);
      }

      // Input field styling
      [aria-invalid="true"] {
        border: solid $gf-input-border-width var(--error-dk);
        // box-shadow: 0 0 0 2px var(--error-dk);
      }

      // Input label styling
      .gfield_label,
      .validation_message {
        font-family: $gf-bold-font;
      }
    }
  }
}
