@use '../../assets/src/scss/base/' as *;
@use '../../../ash/assets/src/scss/util/' as *;

.media-with-text {
  @include block-margin;

  > .inner {
    @include container;
  }

  .inner.group {
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
      align-items: center;
    }
  }

  .text.group {
    order: 2;
  }

  .media.group {
    @include play-button;
    position: relative;
    order: 1;

    .inner.group {
      @include overlay;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .button {

    &.primary {
      @include primary-button;
    }

    &.secondary {
      @include secondary-button;
    }
  }

  &.right {


    .media.group {

      @include breakpoint(medium) {
        order: 2;
      }
    }

    .text.group {

      @include breakpoint(medium) {
        padding-right: ($global-padding);
      }
    }
  }

  &.left {

    .text.group {

      @include breakpoint(medium) {
        padding-left: ($global-padding);
      }
    }
  }
}